<mat-card>
  <mat-card-content>
    <h1>{{trailWeather?.main.temp}} &#8457;</h1>
    <h2>{{activeTrail?.name}}</h2>
    <img *ngIf="activeTrail" [src]="activeTrail.imgMedium">
    <p>Location: {{activeTrail?.location}}</p>
    <p>Difficulty: {{activeTrail?.difficulty}}</p>
    <!-- <p>Type: {{activeTrail?.type}}</p> -->
    <p>Length: {{activeTrail?.length}} miles</p>
    <p>High Elevation: {{activeTrail?.high}} feet</p>
    <p>Low Elevation: {{activeTrail?.low}} feet</p>
    <p>Condition: {{activeTrail?.conditionStatus}}</p>
    <p>Details: {{activeTrail?.conditionDetails}}</p>
    <p>Description: {{activeTrail?.summary}}</p>
    <!-- <p>Rating: {{activeTrail?.starVotes}}</p> -->
    <p class="possible-stars">{{activeTrail?.stars}} out of 5 Stars</p>
    <write-a-review [trailRating]="activeTrail?.stars"></write-a-review>
    <p>Last Updated: {{activeTrail?.conditionDate}}</p>
  </mat-card-content>
  <mat-card-actions style="display: flex;justify-content:flex-end">
    <button mat-button (click)="back()"><mat-icon>chevron_left</mat-icon> Back</button>
    <button mat-button (click)="uploadImg()"><mat-icon>add_photo_alternate</mat-icon> Upload Image</button>
  </mat-card-actions>
</mat-card>
