<mat-card>
  <mat-card-content>
    <h2>{{activeTrail?.name}}</h2>
    <p>{{activeTrail?.location}}</p>
    <h5>{{trailWeather?.main.temp}} &#8457;</h5>
    <img class="trailImg" *ngIf="activeTrail" [src]="activeTrail.imgMedium">
    <p><strong>Description:</strong> {{activeTrail?.summary}}</p>
    <p><strong>Difficulty:</strong> {{activeTrail?.difficulty}}</p>
    <div class="length">
      <p><strong>Length:</strong> {{activeTrail?.length}} mile out & back</p>
      <!-- <mat-icon class="upDownArrows">arrow_upward</mat-icon><mat-icon class="upDownArrows">arrow_downward</mat-icon> -->
    </div>
    <p><strong>Elevation:</strong> High: {{activeTrail?.high}} ft, Low: {{activeTrail?.low}} ft</p>
    <p><strong>Ascent:</strong> {{activeTrail?.ascent}} ft <mat-icon class="ascent-icon">trending_up</mat-icon></p>
    <!-- <p><strong>Low Elevation:</strong> {{activeTrail?.low}} feet</p> -->
    <p><strong>Condition:</strong> {{activeTrail?.conditionStatus}}</p>
    <!-- <p><strong>Details:</strong> {{activeTrail?.conditionDetails}}</p> -->
    <p class="possible-stars"><strong>{{activeTrail?.stars}} out of 5 Stars</strong></p>
    <div class="ratingDiv">
      <stars [trailRating]="activeTrail?.stars"></stars>
      <p class="numOfRatings">({{activeTrail?.starVotes}})</p>
    </div>
    <p id="reviewsOn"  style="display:none;"><strong>Reviews:</strong>
      <li *ngIf="review">{{review.data}}</li>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="back()"><mat-icon>chevron_left</mat-icon> Back</button>
    <button mat-raised-button (click)="openReviewDialog()"><mat-icon>rate_review</mat-icon> Rate Trail</button>
    <button mat-raised-button (click)="showReviews()">Show Reviews</button>
  </mat-card-actions>
</mat-card>
