body {
  background-color: #CFD8DC;
}
.trailImg {
  margin: 15px auto;
  /* max-width: 300px; */
  width: 100%;
  /* margin: 0 auto; */
}

button {
  background-color: #ffff;;
}

mat-card {
  background-color: #ECEFF1;
  color: black;
  /* font-family: 'Roboto', sans-serif; */
}

mat-card-actions {
  display: flex;
  justify-content:flex-start;
}

stars {
  color: #ffb500;
}

