.trailImg {
  margin: 15px auto;
  /* max-width: 300px; */
  width: 100%;
  /* margin: 0 auto; */
}

.detailsOnly{
  background-color: #586c9a;
}

button {
  background-color: #ffff;;
}

mat-card {
  background-color: #586c9a;
  color: #ffffff;
  max-width: 800px;
  margin: 0 auto;
  /* height: calc(100vh - 64px); */
  /* min-width: 100%;  */
}

mat-card-actions {
  display: flex;
  justify-content:flex-start;
}

stars {
  color: #ffb500;
}

.ratingDiv {
  display: flex;
  flex-direction: row;
}

.numOfRatings {
  margin-left: 10px; 
}

.ascent-icon {
  font-size: 10px;
}

.upDownArrows {
  font-size: 10px;
  margin: 0;
}

.length {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
