.btnContainer{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
}

.btn{
  margin: auto 0;
  padding: 0 5px 0 0;
}

.backAndLogin{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../assets/images/adventure-albay-clouds-672358.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.backAndLogout{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../assets/images/adventure-albay-clouds-672358.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logoutOnly{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spacer-top{
  height: 200px;
}

.title{
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 130px;
}

.spacer-bottom{
  height: 249px;
}

.detailsOnly{
  background-color: #586c9a;
}
