.mat-card {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: #dadfea;
  margin: 25px;
}

.trailsList {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  /* margin: 0 auto; */
}

.detailsBtn {
  display: flex; 
  align-items: flex-end;
  justify-content: flex-end;
  /* margin-top: 50px; */
  /* position: absolute; */
}

img {
  /* height: 33%; */
  width: 100%;
  margin: 0px auto 15px auto;
}

mat-card-header {
  height: 20%;
}

mat-card-content {
  height: 20%;
}

@media screen and (max-width: 915px) {
  .mat-card {
    width: 40%;
  }
}
@media screen and (max-width: 607px) {
  .mat-card {
    width: 45%;
    margin: 5px 5px;
  }
}
@media screen and (max-width: 465px) {
  .mat-card {
    width: 100%;
    margin: 5px 10px;
  }
}
